/** @format */

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
    padding: 4px 10px;
    background: pink;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.col {
    padding: 50px;
}

.white {
    background: whitesmoke;
}

.black {
    background: black;
}

.green {
    background: greenyellow;
}

.red {
    background: red;
}