/**
 * /* Import font
 *
 * @format
 */

@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

/* reset CSS */

* {
    margin: 0;
    padding: 0;
    font-family: "Klee One", cursive;
}


/* CSS starts here */


/* header */

header {
    background: linear-gradient( rgba(5, 0, 92, 1) 0%, rgba(10, 10, 131, 1) 14%, rgba(0, 212, 255, 1) 96%);
    color: white;
    display: grid;
    grid-template-columns: 70% 20% 10%;
    padding: 1rem 15% 1rem 15%;
    align-items: center;
    align-content: center;
}

header button {
    margin: 10px;
}

header h1 {
    font-size: 48px;
}


/* wrapper */

.wrapper {
    margin: 0 15% 0 15%;
    padding: 0.5rem 0 0.5rem 0;
}

.city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid black;
}


/* css for weather section */

#weather {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card {
    margin-top: 1rem;
    width: 21%;
    padding: 0.4rem;
    background-color: rgb(224, 224, 224);
}

.card>* {
    margin: 0.4rem;
}

.card>p:first-child {
    font-size: 28px;
    font-weight: 800;
}

#weather img {
    margin: auto;
    width: 60%;
    border-radius: 50%;
}

.card div {
    display: flex;
    justify-content: space-between;
}

.card div>p:first-child {
    color: Red;
    font-size: 22px;
}

.card div>p:last-child {
    color: blue;
    font-size: 22px;
}


/* cookie accept warning css section */

.cookie {
    width: 68%;
    display: grid;
    grid-template-columns: 15% 63% 22%;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    padding: 0.6rem;
    background-color: rgb(224, 224, 224);
    position: fixed;
    bottom: 0;
}

.cookie>* {
    margin: auto;
}

.cookie button {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0, 212, 255, 1);
    box-shadow: black 3px 3px;
}