<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checker Board</title>
</head>

<body>
    <div class="row">
        <h1>*** Checkerboard ***</h1>
    </div>

    {% for i in range(y) %}
    <div class="row">
        {% for i in range(x) %}
        <div class="{{color1}} col"></div>
        <div class="{{color2}} col"></div>
        {% endfor %}
    </div>
    <div class="row">
        {% for i in range(x) %}
        <div class="{{color2}} col"></div>
        <div class="{{color1}} col"></div>
        {% endfor %}
    </div>
    {% endfor %}
</body>

</html>