<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>counter</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Counter</h1>
        <div class="d-flex justify-content-center">
            <p class="text-center p-2 m-2">{{ct}}</p>
            <p class="text-center p-2 m-2">Real Visit: {{visit}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <form class="form-control-color d-flex justify-content-center" action="/plus" method="post">
            <input type="number" name="num" id="num" value="1">
            <button type="submit" class="btn btn-primary">click</button>
        </form>
        <a href="destroy_session"><button class="btn btn-danger">Reset</button></a>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>